<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- Navbar Start -->
    <div class="container-fluid fixed-top">
        <div class="container px-0">
            <nav class="navbar navbar-light bg-white navbar-expand-xl">
                <a href="/" class="navbar-brand">
                    <h1 class="text-primary display-6">Laptopshop</h1>
                </a>
                <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars text-primary"></span>
                </button>
                <div class="collapse navbar-collapse bg-white justify-content-between mt-5" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/" class="nav-item nav-link active">Trang Chủ</a>
                        <a href="/products" class="nav-item nav-link">Sản Phẩm</a>
                    </div>
                    <!-- Nếu đã đăng nhập -->
                    <div sec:authorize="isAuthenticated()">
                        <div class="position-relative me-4 my-auto" style="display: inline-block;">
                            <i class="fa fa-shopping-bag fa-2x text-success"></i>
                            <span class="position-absolute bg-warning text-dark rounded-circle d-flex align-items-center justify-content-center"
                                  style="top: -8px; right: -10px; width: 20px; height: 20px; font-size: 0.8rem;">3</span>
                        </div>
                        <!-- Icon người dùng -->
                        <div class="dropdown my-auto" style="display: inline-block;">
                            <a href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user fa-2x text-success"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end p-4" aria-labelledby="dropdownMenuLink">
                                <li class="d-flex align-items-center flex-column" style="min-width: 300px;">
                                    <img style="width: 150px; height: 150px; border-radius: 50%; overflow: hidden;"
                                         src="/images/product/1711078092373-asus-01.png"/>
                                    <div class="text-center my-3">
                                        <span sec:authentication="name"></span>
                                    </div>
                                </li>
                                <li><a class="dropdown-item" href="#">Quản lý tài khoản</a></li>
                                <li><a class="dropdown-item" href="#">Lịch sử mua hàng</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <form method="post" action="/logout">
                                        <input type="hidden" name="${_csrf.parameterName}"
                                               th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <button class="dropdown-item">Đăng xuất</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Nếu chưa đăng nhập -->
                    <div sec:authorize="isAnonymous()">
                        <a href="/login" class="position-relative me-4 my-auto">Đăng nhập</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->

    <!-- Add padding below the fixed header -->
    <div style="height: 40px;"></div>
</div>
